COOKIES_TXT=cookie.json
FACEBOOK_POST_URL=https://www.facebook.com/your-post-link

RESPONSES_JSON=comment_replies.json

OUTPUT_JSON=facebook_comments.json

HEADLESS=false
MAX_SCROLLS=30
SCROLL_WAIT_MS=1500
USE_MOBILE_FACEBOOK=false

FORCE_ALL_COMMENTS=true

COMMENT_LIMIT=0
BROWSER_SLOW_MO_MS=0